.input {
    border: 0;
    
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(255, 255, 255);
   
    width: 300px;
    -moz-box-shadow: inset 0 0 4px rgb(255, 255, 255);
    -webkit-box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.2);
    box-shadow: inner 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

input:focus {
    outline: none !important;
    border-color: #fff;
    box-shadow: 0 0 10px #fff;
}